body {
    background: lightblue;
    margin: 0;
    text-align: center;
}

main {
    display: block;
    align-content: center;
    margin-left: 200px;
    margin-top: 50px;
}

.left-box {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    border: 2px solid red;
}

#key {
    background: #fff;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#copyright {
    text-align: center;
    height: 15%;
    width: 18%;
    margin: auto;
}