body {
    background: #23a6b0;
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Julius Sans One', sans-serif;
    color: #f7ecda;
}

header {
    display: inline-block;
    height: 200px;
}

#headerTitle {
    padding-top: 6%;
    font-size: 72px;
    background: -webkit-linear-gradient(#a6e719, #f28e1b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Julius Sans One', sans-serif;
}

#correctAnswer {
    background: -webkit-linear-gradient( #ebfeff, #b7f4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

main {
    margin-top: 10px;
}

#play {
    width: 50px;
    height: 50px;
}

#start-key {
    background: -webkit-linear-gradient(#cef7f3, #a6e719);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#key {
    background: #f7ecda;
    color: #23a6b0;
}

#cornerImage {
    width: 400px;
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: relative;
    bottom: 0;
    background: -webkit-linear-gradient(#a6e719, #f28e1b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}